.loginform{
    margin-left: 1%;
    width: 400px;
    min-width: 400px;
    max-height: 450px;
    box-shadow: 0 1px 2px rgb(123, 120, 120);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    
    & input{
        position: relative;
        font-size: 16px;
        border: 1px solid rgb(225, 212, 212);
        outline: none;
    }
    & input,button{
        padding:16px 10px;
        width: 100%;
        border-radius: 5px;
        margin: 10px;
    }
    & button{
        background-color: #1877F2;
        color:#fff;
        font-weight: bold;
        font-size: 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        transition: all 0.3s;
        &:hover{
            opacity: 1;
        }
        &:last-child{
            // position: relative;
            // top:40px;
            // left: 0;
            background-color: #42B72A;
            color:#fff;
            // margin-top: 10px;
            width: 50%;
            font-size: 16px;
        }
    }
    & a{
        text-align: center;
        width: 100%;
        color:#1877F2;
        font-size: 12px;
        padding: 10px 0 20px 0;
        border-bottom: 1px solid rgb(159, 153, 153);
    }
}
